@page
@model KForceCars.Pages.Cars.Create

@{
    ViewData["Title"] = "Create car";
}

<form class="form-control form-control-lg">
    <input type="text" placeholder="Model"/>
    <input type="text" placeholder="Make"/>
    <input type="text" placeholder="Color"/>
    <input type="number" placeholder="Doors"/>
    <input type="number" placeholder="Year"/>
    <input type="number" placeholder="Price"/>
    <button type="submit" class="btn-primary">Submit</button>
</form>
