@page
@model KForceCars.Pages.Cars.PriceModalModel

@{
    ViewData["Title"] = "Guess car price";
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Car details @Model.Id</h4>
            </div>
            <div class="modal-body">
                <hr/>
                Try to guess the price: <input type="number" name="price"/>
                <input name="id" type="number" hidden="hidden" value="@Model.Id"/>
                <button id="confirm-button" type="button" class="btn btn-primary">Confirm</button>
                <hr/>
                @if (ViewData["Message"] != null)
                {
                    <h3>@ViewData["Message"]</h3>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#confirm-button").click(function () {
                $.ajax({
                     type: "POST",
                     url: "/Index?handler=CalculateGuess&Id=" + @Model.Id,
                     success: function (response) {
                     },
                     failure: function (response) {
                         alert(response.responseText);
                     },
                     error: function (response) {
                         alert(response.responseText);
                     }
                 });
            });
        })
    </script>
}